---
import Layout from "../layouts/Layout.astro";
import TitleBar from "../components/Window/TitleBar.astro";
import ContentArea from "../components/Window/ContentArea.astro";
import Promt from "../components/Terminal/Promt.astro";
import BlinkingCursor from "../components/Terminal/BlinkingCursor.astro";
---

<Layout title="Charlie Sabino">
  <div
    class="overflow-hidden shadow-2xl"
    x-data="{ isWindowFullscreen: false }"
    x-bind:class="isWindowFullscreen ? 'h-full w-full' : 'h-auto max-w-screen-sm'"
    x-cloak
  >
    <TitleBar title="charliesabino" />
    <ContentArea>
      <Promt>cat greeting.md</Promt>
      <h1 class="font-extrabold"># Hello, I'm Charlie Sabino.</h1>
      <br />
      <h2 class="font-extrabold">## About me</h2>
      <p>
        I'm an aspiring software engineer currently studying studying computer
        science and economics at the University of Chicago.
      </p>
      <br />
      <h2 class="font-extrabold">## Contact</h2>
      <p>
        -
        <a
          class="hover:underline"
          href="https://github.com/charliesabino"
          target="_blank">[Github](https://github.com/charliesabino)</a
        >
      </p>
      <p>
        -
        <a
          class="hover:underline"
          href="https://www.linkedin.com/in/charlie-sabino/"
          target="_blank"
          >[LinkedIn](https://www.linkedin.com/in/charlie-sabino/)</a
        >
      </p>
      <p>
        -
        <a
          class="hover:underline"
          href="https://twitter.com/charliesabino"
          target="_blank">[Twitter](https://twitter.com/charliesabino)</a
        >
      </p>
      <p>
        -
        <a
          class="hover:underline"
          href="mailto:sabinoc@uchicago.edu"
          target="_blank">[Email](sabinoc@uchicago.edu)</a
        >
      </p>
      <Promt>
        <BlinkingCursor />
      </Promt>
    </ContentArea>
  </div>
</Layout>
